@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-gray {
    @apply bg-gray-500 text-white;
}
 
.btn-gray:hover {
   @apply bg-gray-700;
}

.alert-danger {
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative;
}

.alert-info {
    @apply bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative;
}